# 반복문

## 2739

In [5]:
N = int(input())

for i in range(1,10):
    print('{0} * {1} = {2}'.format(N,i,N*i))

6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

In [6]:
for i in range(1,10):
    print( N,"*",i,"=", N*i )

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

## 10950 - ( 입력 출력 입력 출력 )

- 반복문 안에서 입력 후 바로 출력

In [7]:
for i in range(3):
    
    A,B = map(int,input().split())
    
    print(A+B)

3 5
8
2 4
6
1 0
1

## 10950  - ( 입력 다하고 출력 )

- 입력 반복문 - 리스트에 값 저장 후

- 출력 반복문 작성

In [8]:
lst_sum = []

for i in range(3):
    
    A,B = map(int,input().split())
    
    lst_sum.append(A+B)
    
for i in lst_sum:
    print(i)

3 5
2 4
1 0
8
6
1

## 8393 - `for i in range(0,n+1)` 

- range value

In [10]:
sum = 0

n = int(input())

for i in range(1,n+1):
    sum+=i

print(sum)

10
55

## 8393 - `for i in range(N)` 

- for N

In [11]:
N = 3
for i in range(3):
    print('hello')

hello
hello
hello

## 2742 - `range(start, stop, step)`

- stop 까지 안감

In [22]:
# n = int(sys.stdin.readline())

n = int(input())

print('_'*15)


for i in range(n,0,-1):  
    print(i)

print('_'*15)


    
for i in range(n,0,-2):  
    print(i)
    
print('_'*15)


   
for i in range(n,0,-3):  
    print(i)
    
# -1 : 10 9 8 7 6 5 4 3 2 1 > 0 stop 
# -2 : 10 8 6 4 2 > 0 stop
# -3 : 10 7 4 1 > 0 stop

10
_______________
10
9
8
7
6
5
4
3
2
1
_______________
10
8
6
4
2
_______________
10
7
4
1

---

## 2741 - `for i in range(1,n)` 범위

In [14]:
import sys

n = int(input())
# n = int(sys.stdin.readline())

for i in range(1,n+1):
    print(i)

10
1
2
3
4
5
6
7
8
9
10

## 11021 - `for i in range(N)` 횟수

In [13]:
N = int(input()) 

for i in range(N):
    
    A,B = map(int, input().split())
    
    print('Case #{0}: {1}'.format(i+1,A+B))

3
10 10
Case #1: 20
20 20
Case #2: 40
40 5
Case #3: 45

In [ ]:
import sys

T = int(input()) 

for i in range(1,T+1):
    A,B = map(int, sys.stdin.readline().split())
    print('Case #{0}: {1}'.format(i,A+B))

---

## 11022 - `for i in range(N)` 횟수

In [15]:
N = int(input())

for i in range(N):
    
    A,B = map(int, input().split())
    
    print('Case #{0}: {1} + {2} = {3}'.format(i+1,A,B,A+B))

3
10 20
Case #1: 10 + 20 = 30
40 18
Case #2: 40 + 18 = 58
28 19
Case #3: 28 + 19 = 47

In [ ]:
import sys

T = int(input())

for i in range(1,T+1):
    A,B = map(int, sys.stdin.readline().split())
    print('Case #{0}: {1} + {2} = {3}'.format(i,A,B,A+B))

---

## 2438

In [50]:
N = int(input())

for i in range(1,N+1):
    print("*"*i)

3
*
**
***

## 2439

- 공백, 별의 개수

In [16]:
N = int(input())

for i in range(N,0,-1):
    
    star = N - (i - 1)
    #print(" "*(i-1),"*"*star)
    
    
    print('{0}{1}'.format(" "*(i-1),"*"*star))

4
   *
  **
 ***
****

In [17]:
# print (,) = ' ' 이므로 , sep='' 

N = int(input())

for i in range(N,0,-1):
    star = N - i + 1
    print(" "*(i-1),"*"*star,sep='')

4
   *
  **
 ***
****

---

## 10871-  `list(map(int,input().split()))`


- 공백 단위로 입력 - 정수형 변환 - 리스트로 반환

- 공백 단위 출력 이랑 리스트 출력은 다르다.

- `print end=" "`

- 입력 개수 제한이 없음

### 문제
정수 N개로 이루어진 수열 A와 정수 X가 주어진다. 이때, A에서 X보다 작은 수를 모두 출력하는 프로그램을 작성하시오.

### 입력
첫째 줄에 N과 X가 주어진다. (1 ≤ N, X ≤ 10,000)

둘째 줄에 수열 A를 이루는 정수 N개가 주어진다. 주어지는 정수는 모두 1보다 크거나 같고, 10,000보다 작거나 같은 정수이다.

### 출력
X보다 작은 수를 입력받은 순서대로 공백으로 구분해 출력한다. X보다 작은 수는 적어도 하나 존재한다.

In [26]:
N,X = map(int,input().split())


lst = list(map(int,input().split()))



# 리스트 일자로 출력

for i in lst:
    if i < X:
        print(i, end=" ")

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

In [27]:
# 리스트 일자로 출력


for i in range(len(lst)):
    if lst[i] < X:
        print(lst[i], end=" ")

1 4 2 3

In [30]:
# 빈 리스트에 담은 후 출력
# 리스트 출력 != 일자 공백 출력 다름

lst_out = []

for i in range(len(lst)):
    if lst[i] < X:
        lst_out.append(lst[i])


print(lst_out)

for i in lst_out:
    print(i, end = ' ')

[1, 4, 2, 3]
1 4 2 3