# list - 최소 최대

## 10818

- list 입력

In [2]:
import sys 


N = int(input()) 

lst = list(map(int, input().split()))

print(min(lst),max(lst))

3
1 3 5 7 9
1 9

In [ ]:
# N = int(sys.stdin.readline()) 

# lst = list(map(int,sys.stdin.readline().split()))

## list 입력

### 공백 기준 int 입력 > list로 변경

In [3]:
lst = list(map(int,input().split()))
lst
# lst = list(map(int,sys.stdin.readline().split()))

1 3 5

[1, 3, 5]

### Enter \n 기준 int 입력 > list로 변경

In [4]:
lst = list( int(input()) for i in range(N))
lst
# lst = [int(sys.stdin.readline().strip()) for i in range(N)]

1
3
5

[1, 3, 5]

## 문자열 입력

In [3]:
string = input().split()
string

asd asd asd

['asd', 'asd', 'asd']

### 공백 기준 int 입력 > 문자열 list로 변경

In [4]:
lst = list(input().split())
lst

asd asd asd

['asd', 'asd', 'asd']

### Enter \n 기준 문자열 입력 > 문자열 list로 변경

In [6]:
lst = list(input() for i in range(3))
lst

# lst = list(sys.stdin.readline().strip() for i in range(N))

asd
asd
asd

['asd', 'asd', 'asd']

###  공백 기준 분리 후 엔터 기준 분리

In [7]:
lst1 = list( input().split() for i in range(N))
lst1

q w e
a s d
z x c

[['q', 'w', 'e'], ['a', 's', 'd'], ['z', 'x', 'c']]

---

## 2562 - `lst.index(max(lst)``

- `max(lst)`

- `lst.index(value)`



### 입력
첫째 줄부터 아홉 번째 줄까지 한 줄에 하나의 자연수가 주어진다. 주어지는 자연수는 100 보다 작다.

### 출력
첫째 줄에 최댓값을 출력하고, 둘째 줄에 최댓값이 몇 번째 수인지를 출력한다.

In [10]:
lst.index(max(lst))

6

In [11]:
import sys

lst = list(int(input()) for i in range(9))

# lst = list( int(sys.stdin.readline().strip() for i in range(9)))


print(max(lst))              # 최대 값

print(lst.index(max(lst))+1) #  idx + 1 = 몇 번째 수 인지

1
2
3
5
89
4
58
354
8
354
8

---

## 2577 - 숫자 문자열 전환

- `int()`

- `str()`

- 자리수 `len(str(ABC))`

- `lst.count(V)`

- `lst = [0 for i in range(10)]`


### 문제

세 개의 자연수 A, B, C가 주어질 때 A × B × C를 계산한 결과에 0부터 9까지 각각의 숫자가 몇 번씩 쓰였는지를 구하는 프로그램을 작성하시오.

예를 들어 A = 150, B = 266, C = 427 이라면 A × B × C = 150 × 266 × 427 = 17037300 이 되고, 계산한 결과 17037300 에는 0이 3번, 1이 1번, 3이 2번, 7이 2번 쓰였다.

### 입력

첫째 줄에 A, 둘째 줄에 B, 셋째 줄에 C가 주어진다. 

A, B, C는 모두 100보다 크거나 같고, 1,000보다 작은 자연수이다.


### 출력
첫째 줄에는 A × B × C의 결과에 0 이 몇 번 쓰였는지 출력한다. 

마찬가지로 둘째 줄부터 열 번째 줄까지 A × B × C의 결과에 1부터 9까지의 숫자가 각각 몇 번 쓰였는지 차례로 한 줄에 하나씩 출력한다.

## 2577 

- 문자열 index 별로 하나씩 비교, 숫자랑 


- 비교 시 숫자를 str 문자로 바꿔서 비교 


- 빈 리스트에 idx 별로 count

In [73]:
lst = list( int(input()) for i in range(3))
ABC = lst[0] * lst[1] * lst[2]

ABC = str(ABC)

lst_cnt = list(0 for i in range(10))


# 숫자 하나씩 근데 문자열 index 0 하나씩 꺼내서 검사
# 0 ~ 9 까지 돌면서 
for i in ABC:
    
    for j in range(0,9+1):
        
        if (i == str(j)):
            lst_cnt[int(i)] += 1

            
for i in lst_cnt:
    print(i)

150
266
427
3
1
0
2
0
0
0
2
0
0

In [77]:
lst = list( int(input()) for i in range(3))
ABC = lst[0] * lst[1] * lst[2]

ABC = str(ABC)

lst_cnt = list(0 for i in range(10))


# 숫자 하나씩 근데 문자열 index 0 하나씩 꺼내서 검사
# 0 ~ 9 까지 돌면서 
for i in ABC:
    i = int(i)
    
    for j in range(0,9+1):
        
        if (i == j):
            lst_cnt[i] += 1

            
for i in lst_cnt:
    print(i)

150
266
427
3
1
0
2
0
0
0
2
0
0

## 2577 - `lst.count(V)`

- 문자열 리스트(숫자) -> 자릿수 대로 숫자로 변환 - 하나씩 꺼내서 int()형 변환 후 lst.append()

- `17037300` -> [1, 7, 0, 3, 7, 3, 0, 0]

In [66]:
lst = list( int(input()) for i in range(3))
ABC = lst[0] * lst[1] * lst[2]

ABC = str(ABC)

lst_int = []

for i in ABC:
    lst_int.append(int(i))

    
for i in range(0,9+1):
    print(lst_int.count(i))

150
266
427
3
1
0
2
0
0
0
2
0
0

In [71]:
lst = list( int(input()) for i in range(3))
ABC = lst[0] * lst[1] * lst[2]

ABC = str(ABC)

lst_int = []

for i in ABC:
    lst_int.append(int(i))

print(lst_int)

150
266
427
[1, 7, 0, 3, 7, 3, 0, 0]

## 2577 - `import re`

In [69]:
import sys
import re

lst = [int(input()) for i in range(3)]

N = lst[0]*lst[1]*lst[2]

string = str(N)
string

# 문자열 리스트
numbers = re.findall(r'\d', string)


for i in range(10):
    
    cnt = 0
    
    for n in numbers:
        if i == int(n) :
            cnt+=1
            
    print(cnt)

150
266
427
3
1
0
2
0
0
0
2
0
0

### re

In [72]:
import re

tmp_string = '11a22bb333'

# 숫자 연속으로 
numbers = re.findall("\d+", tmp_string)
print(numbers)


# 숫자 하나씩
numbers = re.findall("\d", tmp_string)
print(numbers)

['11', '22', '333']
['1', '1', '2', '2', '3', '3', '3']

---

## 3052 - `set()` - 중복 제거 , 집합


- list to set

### 문제
두 자연수 A와 B가 있을 때, A%B는 A를 B로 나눈 나머지 이다. 

예를 들어, 7, 14, 27, 38을 3으로 나눈 나머지는 1, 2, 0, 2이다. 

수 10개를 입력받은 뒤, 이를 42로 나눈 나머지를 구한다. 

그 다음 서로 다른 값이 몇 개 있는지 출력하는 프로그램을 작성하시오.

### 입력
첫째 줄부터 열번째 줄 까지 숫자가 한 줄에 하나씩 주어진다. 이 숫자는 1,000보다 작거나 같고, 음이 아닌 정수이다.

### 출력
첫째 줄에, 42로 나누었을 때, 서로 다른 나머지가 몇 개 있는지 출력한다.

In [20]:
lst = list( int(input()) for i in range(10))

lst_tmp = list()

for i in lst:
    lst_tmp.append(i % 42)

lst_set = set(lst_tmp)

print(len(lst_set))

39
40
41
42
43
44
82
83
84
85

### numpy

In [ ]:
import numpy as np

input_lst  = [int(input()) for i in range(10)]
lst = []

for i in input_lst:
    lst.append(i%42)
    
lst = np.unique(lst)

print(len(lst))

## 1546 - `sum(lst) / len(lst)`


### 문제
세준이는 기말고사를 망쳤다. 

세준이는 점수를 조작해서 집에 가져가기로 했다. 

- **일단 세준이는 자기 점수 중에 최댓값을 골랐다. 이 값을 M이라고 한다. 그리고 나서 모든 점수를 점수/M*100으로 고쳤다.**

예를 들어, 세준이의 최고점이 70이고, 수학점수가 50이었으면 수학점수는 50/70*100이 되어 71.43점이 된다.

세준이의 성적을 위의 방법대로 새로 계산했을 때, 새로운 평균을 구하는 프로그램을 작성하시오.

### 입력
첫째 줄에 시험 본 과목의 개수 N이 주어진다. 이 값은 1000보다 작거나 같다. 

둘째 줄에 세준이의 현재 성적이 주어진다. 

이 값은 100보다 작거나 같은 음이 아닌 정수이고, 적어도 하나의 값은 0보다 크다.

### 출력

첫째 줄에 새로운 평균을 출력한다. 

실제 정답과 출력값의 절대오차 또는 상대오차가 10-2 이하이면 정답이다.

In [59]:
N = int(input())

lst = list(map(int,input().split()))

M = max(lst)

new_lst = list()

for i in lst:
    new_lst.append((i/M) * 100)
    

sum = 0

for i in new_lst:
    sum += i

print(sum / N)

3
10 20 30
66.66666666666667

In [60]:
import statistics

statistics.mean(new_lst)

66.66666666666666

---

## 8958 - 점수 올리기 증가 점수 

- variable

### 문제
"OOXXOXXOOO"와 같은 OX퀴즈의 결과가 있다. 

O는 문제를 맞은 것이고, X는 문제를 틀린 것이다. 

문제를 맞은 경우 그 문제의 점수는 그 문제까지 연속된 O의 개수가 된다. 예를 들어, 10번 문제의 점수는 3이 된다.

"OOXXOXXOOO"의 점수는 1+2+0+0+1+0+0+1+2+3 = 10점이다.

OX퀴즈의 결과가 주어졌을 때, 점수를 구하는 프로그램을 작성하시오.

### 입력
첫째 줄에 테스트 케이스의 개수가 주어진다. 각 테스트 케이스는 한 줄로 이루어져 있고, 길이가 0보다 크고 80보다 작은 문자열이 주어진다. 문자열은 O와 X만으로 이루어져 있다.

### 출력
각 테스트 케이스마다 점수를 출력한다.

리스트에서 하나씩 꺼내서 o면  +1 

이전까지 나온 값 

Value + 1 + before

lst = "OOXXOXXOOO"

OOOO

In [72]:
N = int(input())


lst = list(input() for i in range(N))
lst_score = list()


for lst_i in lst:
    
    score = 0
    o_t = 0

    for i in range(len(lst_i)):


        if (lst_i[i] == 'O'):
            o_t  += 1
            score += o_t

        else:
             o_t = 0

    
        
    lst_score.append(score)

for i in lst_score:
    print(i)

5
OOXXOXXOOO
OOXXOOXXOO
OXOXOXOXOXOXOX
OOOOOOOOOO
OOOOXOOOOXOOOOX
10
9
7
55
30

---

## 4344 - `print('{:.3f}%'.format())`


### 문제
대학생 새내기들의 90%는 자신이 반에서 평균은 넘는다고 생각한다. 당신은 그들에게 슬픈 진실을 알려줘야 한다.

### 입력
첫째 줄에는 테스트 케이스의 개수 C가 주어진다.

둘째 줄부터 각 테스트 케이스마다 학생의 수 N(1 ≤ N ≤ 1000, N은 정수)이 첫 수로 주어지고, 이어서 N명의 점수가 주어진다. 

점수는 0보다 크거나 같고, 100보다 작거나 같은 정수이다.

### 출력

**각 케이스마다 한 줄씩 평균을 넘는 학생들의 비율**을 반올림하여 소수점 셋째 자리까지 출력한다.

In [ ]:
N = int(input())


for i in range(N):
    
    #lst = list(map(int,input().split()))
    lst = list(map(int,sys.stdin.readline().split()))
    
    s   = 0
    
    for i in range(1,len(lst)):
        
        s+=lst[i]
        mean = s / lst[0]
    
    c   = 0

    for i in range(1,len(lst)):
        if lst[i] > mean:
            c+=1
    
    
        
    print('{:.3f}%'.format(c/lst[0]*100))